.nav-item a:link,
a:visited {
    color: white;
    font-weight: 600;
}

.din {
    font-weight: 600;
    font-family: monotype corsiva;
}

.txt {
    color: orangered;
}

.bookbtn {
    background-color: orangered;
    color: white;
    font-weight: 600;
    border: orangered 3px solid;
    font-size: 20px;
}

.bookbtn:hover {
    background-color: transparent;
}

#fd1 {
    height: 120px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.fd2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 18px;
    margin-top: 10px;
    animation: anim 2s infinite;
    position: absolute;
}

@keyframes anim {
    from {
        top: 0px;
        opacity: 0.5;
    }
    to {
        top: 50px;
        opacity: 0;
    }
}

.menuitem {
    height: 200px;
    width: 250px;
    border: 3px solid white;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: none;
}

.hide:hover .menuitem {
    display: block;
}

.price {
    height: 80px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid orangered;
    text-align: center;
    padding: 5px;
}

.nav-pills>li.nav-item>.nav-link {
    color: black;
    width: 40vh;
}

.nav-pills>li.nav-item>.nav-link:focus {
    background-color: orangered;
    color: white;
}

.team:hover {
    background-color: orangered;
    color: white;
}

.backimg {
    background-image: url('img/blog_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.bookbtn1 {
    background-color: orangered;
    color: white;
    border: orangered 3px solid;
    font-size: 25px;
}

.bookbtn1:hover {
    background-color: transparent;
    color: black;
}

#scrollspyHeading7 .card:hover {
    box-shadow: 10px 10px 10px lightgray;
    transform: scale(1.02, 1.02);
    transition: 1s;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"] {
    height: 50px;
    background-color: lightgray;
    border: 2px dotted darkgray;
    width: 400px;
    border-radius: 5px;
}

.bookbtn2 {
    background-color: orangered;
    color: white;
    border: orangered 3px solid;
    font-size: 25px;
}

.bookbtn2:hover {
    background-color: transparent;
    color: black;
}

select {
    height: 50px;
    background-color: lightgray;
    border: 2px dotted darkgray;
    width: 400px;
    border-radius: 5px;
}

.backimg1 {
    background-image: url('img/newsletter-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.backimg2 {
    background-image: url('img/footer_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.footerdiv {
    background-color: orangered;
    color: white;
    padding: 5px;
    text-align: center;
    border-top: white 2px dotted;
}